*{
    box-sizing: border-box;
}

.container-login{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
}


.container-login input{
    width: 20vw;
    height: 20px;
}

.container-login label{
    font-size:32px;
}

.container-login .btn{
    background: #0000ff;

}
