{%extends 'base.html'%}


{%block message%}
    {% if current_user.is_authenticated %}
        Hi {{ current_user.email }}!
    {% endif %}
    {%for message in get_flashed_messages() %}
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
                {{ message}}
                <div class="mt-2 pt-2 border-top">
                    <button type="button" class="btn btn-primary btn-sm">Take action</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Close</button>
                </div>
            </div>
        </div>
    {%endfor%}
{%endblock%}

    <div class="container text-center">
        {% if current_user.is_authenticated %}
            Hi {{ current_user.email }}!
        {% endif %}
          <div class="row">
            {%block content%}
                {% for item in data%}
                    <main style="width: 100vw;
                     height: 100vh;
                     display: flex;
                     justify-content: center;
                     align-items: flex-start;
                     background: linear-gradient(to right top, #2453fa, #487ffa);">
                        <div class="item-card" style="position:relative; top:15%;">
                        <div class="item-image">
                            <img src="{{item.image_url}}" class="card-img-top" alt="...">
                        </div>
                            <div class="item-content card-body justify-content-between">
                            <h5 class="card-title">{{item.title}}</h5>
                            <p class="card-text">Price: {{item.price}}$</p>
                            <a name="show" href="{{url_for('item', item=item.id)}}" class="btn btn-primary">Show</a>
                            <form method="post" action="{{url_for('home', item=item.id)}}" class="mt-5">
                                {{form.hidden_tag()}}
                                {{form.addToCart(class="btn btn-primary", type="submit" )}}
                            </form>
                            </div>
                        </div>
                    </main>

                    {%endfor%}
                {% endblock %}
            </div>
          </div>
    </div>



