{%extends 'base.html'%}
{%include 'navbar.html'%}

{%block title%}
Login
{%endblock%}
{%block content%}
    {%for message in get_flashed_messages()%}
    <div class="alert alert-warning" role="alert">
         {{message}}
    </div>
    {%endfor%}
    <div class="mt-5" style="position:relative; top:150px; left:30%;">
        <form method="post">
            {{form.hidden_tag()}}
            <div class="col-6 mb-3">
                {{form.email.label(class="form-label")}}
                {{form.email(class="form-control")}}
            </div>
            <div class="col-6 mb-3">
                {{form.password.label(class="form-label")}}
                {{form.password(class="form-control")}}
            </div>
            <div class="col-6 mb-3">
                {{form.confirm_password.label(class="form-label")}}
                {{form.confirm_password(class="form-control")}}
            </div>
             <div class="col-6 mt-5">
                {{form.signup(class="btn btn-primary")}}
             </div>
        </form>
    </div>

{%endblock%}