{%extends 'base.html'%}
{%include 'navbar.html'%}

{%block content%}
    <span>
        {{title}}
        {{description}}
        {{image}}
    </span>
    {%for message in get_flashed_messages()%}
        {{message}}
    {%endfor%}
    <center>
        <form method="post">
            {{ form.hidden_tag() }}
            {{form.title.label(class="form-label")}}
            {{form.title(class="form-control")}}
            {{form.barcode.label(class="form-label")}}
            {{form.barcode(class="form-control")}}
            {{form.price.label(class="form-label")}}
            {{form.price(class="form-control")}}
            {{form.image.label(class="form-label")}}
            {{form.image(class="form-control")}}
            {{form.size.label(class="form-label")}}
            {{form.size(class="form-control")}}
            {{form.description.label(class="form-label")}}
            {{form.description(class="form-control")}}
            {{form.category.label(class="form-label")}}
            {{form.category(class="form-control")}}
            {{form.submit(class="btn btn-primary m-5")}}

        </form>
<!--        <form method="post">-->
<!--            <div class="input-group mb-3">-->
<!--              <span class="input-group-text" id="basic-addon1">Title</span>-->
<!--              <input type="text" name="title" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon1">-->
<!--            </div>-->

<!--            <div class="input-group mb-3">-->
<!--                <span class="input-group-text" id="basic-addon2">Barcode</span>-->
<!--              <input type="text" name="barcode" class="form-control" placeholder="Barcode" aria-label="Recipient's username" aria-describedby="basic-addon2">-->
<!--            </div>-->

<!--              <div class="input-group">-->
<!--                <span class="input-group-text" id="basic-addon3">https://example.com/Image</span>-->
<!--                <input type="text" name="image" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">-->
<!--              </div>-->
<!--            <div class="input-group mb-3">-->
<!--              <span class="input-group-text">Size </span>-->
<!--              <input type="text" name="size" class="form-control" aria-label="Size">-->
<!--            </div>-->


<!--            <div class="input-group mb-3">-->
<!--              <span class="input-group-text">Price $</span>-->
<!--              <input type="text" name="price" class="form-control" aria-label="Amount (to the nearest dollar)">-->
<!--              <span class="input-group-text">.00</span>-->
<!--            </div>-->

<!--            <div class="input-group">-->
<!--              <span class="input-group-text">Description</span>-->
<!--              <textarea class="form-control" name="description" aria-label="Description"></textarea>-->
<!--            </div>-->
<!--            <div class="col-12" >-->
<!--                <button name="submit" type="submit" class="btn btn-primary">Add</button>-->
<!--            </div>-->
<!--        </form>-->
    </center>
{%endblock%}